<%= form_for @incident, :html => { :multipart => true }  do |f| %>
  <% if @incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
      <% @incident.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :incident_number %><br />
    <%= f.text_field :incident_number %>
  </div>
  <div class="field">
    <%= f.label :incident_type %><br />
    <%= f.text_field :incident_type %>
  </div>
  <div class="field">
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :occured_on %><br />
    <%= f.datetime_select :occured_on %>
  </div>
  <div class="field">
	<%= f.label :detailed_report  %><br />

	<%= f.file_field :detailed_report %>
	<% if @incident.detailed_report.path %>	<a href="<%= @incident.detailed_report.url %>">DETAILED REPORT</a>
	<a href='/incidents/<%= @incident.id %>/deletereport'>Delete detailed report</a>
	<% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
