<%
  title 'About Incident Reports'

  description 'Incident Reports are records of events that occur in immigration detention, recorded by detention centre staff for the Australian Government.'

  breadcrumb :about_incidents

  github_edit_url = "https://github.com/DetentionLogs/detentionlogs/blob/Development/app/views/incidents/about.html.erb"
%>

<header class="article-header">
  <h1>About Incident Reports</h1>

  <% if defined? github_edit_url %>
    <%= link_to "Edit", github_edit_url, :class => "btn-supporting", :title => "Edit this page on Github." %>
  <% end %>
</header>

<p class="lede">Incident Reports are records of events that occur in immigration detention, recorded by detention centre staff for the Australian Government.</p>

<aside class="box msg-notice secondary">
  <h3>Published by Detention&nbsp;Logs</h3>

  <dl>
    <dt>Incident Reports available</dt>
      <dd><%= @total_incidents %></dd>

    <% if @total_incidents != 0 %>
      <dt>Current available period</dt>
        <dd><%= date_display(@incidents_start_date) %> &ndash; <%= date_display(@incidents_end_date) %></dd>
    <% end %>

    <dt>Current available Locations</dt>
      <dd>All onshore detention facilities open during the period (includes those on Christmas Island). Note that Nauru and Manus Island facilities were not operating between early 2008 and late 2012 and would be considered &ldquo;offshore&rdquo; in Australian Government documents.</dd>
  </dl>

  <p><%= link_to "Explore the incident reports", incidents_path, title: 'Explore official reports of events in immigration detention, recorded by detention centre staff.'%>.</p>

  <p><a href="https://s3-ap-southeast-2.amazonaws.com/detentionlogs/detentionlogs_incident_data_1009-0511.csv">Download the available incidents reports in spreadsheet format.</a></p>
</aside>


<p>Each Incident Report is identified by a unique ‘Incident Number’. Examples include <%= link_to "Incident Report 1-4ELSKF", incident_path(49445), title: 'see Incident Report 1-4ELSKF Use of Observation Rm &gt; 24 hrs at Villawood IDC, 30 Jul 2010.'%>, <%= link_to "Incident Report 1-643EG4", incident_path(46264), title: 'see Incident Report 1-643EG4, Transfer between facilities at Northern IDC, 19 Feb 2011' %> and <%= link_to "Incident 1-3H0HFJ", incident_path(50281), title: 'see Incident Report 1-3H0HFJ, Use of Force at SA Detention Operations, 23 Mar 2010' %>.</p>

<p>The reports cover a wide range of events that may be called an &quot;incident&quot;: from <%= link_to "births", incidents_path(incident_type: 'Birth of a child'), title: 'see 28 Birth of a child incident reports between 03 Oct 2009 and 26 May 2011.' %> and <%= link_to "deaths", incidents_path(incident_type: 'Death'), title: 'see 6 Death incident reports between 03 Oct 2009 and 26 May 2011.' %> to <%= link_to "IT failures", incidents_path(incident_type: 'Failure - IT Systems'), title: 'see 219 Failure - IT Systems incident reports between 03 Oct 2009 and 26 May 2011.' %>, <%= link_to "injuries", incidents_path(incident_type: 'Accident/Injury - Serious'), title: 'See 877 Accident/Injury - Serious incident reports between 03 Oct 2009 and 26 May 2011.' %>, <%= link_to "complaints", incidents_path(incident_type: 'Complaint - re MinorIncident'), title: 'see 308 Complaint - re MinorIncident incident reports between 03 Oct 2009 and 26 May 2011.' %>, <%= link_to "self-harm", incidents_path(incident_type: 'Self Harm - Actual'), title: '336 Self Harm - Actual incident reports between 03 Oct 2009 and 26 May 2011.' %>, and <%= link_to "escapes", incidents_path(incident_type: 'Escape'), title: '77 Escape incident reports between 03 Oct 2009 and 26 May 2011.' %>.</p>

<p>The private contractors that run the detention network, including companies <%= link_to "Serco", glossary_path(anchor: 'Serco') %>, <%= link_to "IHMS", glossary_path(anchor: 'IHMS') %> and <%= link_to "G4S", 'http://en.wikipedia.org/wiki/G4S' %>, are required to file incident reports to the Department of Immigration and Border Protection (DIBP, formerly Department of Immigration and Citizenship or DIAC). The department collects them in a centralised database: the <cite>Compliance, Case Management, Detention and Settlement Portal</cite>.</p>

<p>The records are incomplete, sometimes unclear, redacted, and often raise more questions than they answer about what occurred. Nevertheless, they are the most detailed record of the situation faced by people detained and working within Australia's immigration detention network.</p>

<p>The Australian Government is ultimately responsible for the welfare of people held in the detention network. They use the incident reports as one way to understand and track events and conditions in their facilities.</p>

<p>The incident data and any attached Incident Detail Reports published here have been provided by the DIBP, released under the <a href="http://www.oaic.gov.au/foi-portal/about_foi.html">Freedom of Information Act 1982 (Cth)</a>. The Freedom of Information (FOI) system allows any member of the public to access government information.</p>

<p>The data we have managed to publish so far does not reflect the more up-to-date data held by the immigration department. If you would like to help us make more of this information accessible to the public, see the <%= link_to "contribute", contribute_path, title: 'How you can help.' %>.</p>

<h2 id="locations">Locations</h2>

<figure class="figure-table">
  <table class="table-summary">
    <legend>Number of Incident Reports from each available Location between<%= date_display(@incidents_start_date) %> &ndash; <%= date_display(@incidents_end_date) %></legend>

    <thead>
      <tr>
        <th>Facility</th>
        <th>Number of Incident Reports</th>
        <th>Percentage of total</th>
      </tr>
    </thead>

    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <th><%= location.name %></th>
          <td><%= link_to location.incidents.size, incidents_path(location: location.id, anchor: 'results'), title: "View #{pluralize(location.incidents.size, 'Incident Report')} from #{location.name}.", class: 'results-link' %></td>
          <td><%= '%.2f' % ((location.incidents.size.to_f / @total_incidents.to_f) * 100) %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</figure>
