<%
	title incidentexplorer_results

	description "Explore an index of 'incident reports' recorded by staff at Australia’s immigration detention facilities."

	breadcrumb :incidents, @incidents
%>

<%= render 'layouts/sub-nav' %>

<section class="body-container incident-index" id="content" role="main">
	<a class="skip-link" href="#results">Skip to filter results</a>

	<header class="page-header">
		<h1 class="page-title">Incident Reports</h1>

    <p>Incident Reports are records of events that occur in immigration detention, produced by detention centre staff for the Australian Government. <%= link_to "About Incident Reports.", about_incidents_path, class: 'lede-sub-link', title: 'Read more information about Incident Reports and where this data came from.' %></p>
	</header>

	<%= render 'incident-filters' %>

	<%= render 'index-results' %>

	<%= render 'incident-river'  %>

  <%= render 'incidents/pagination-block' %>
</section>
