<div class="pagination-details"><%=  page_entries_info @incidents %></div>
<%= paginate @incidents %>


<ul class="incident-list">
<% @incidents.each do |incident| %>
<li style="" class="summary-text"><div><%= incident.location %></div><strong><%= incident.incident_number %></strong><%= incident.summary %></li> 
   
<% end %>
</ul>

<%= paginate @incidents %>
