<h1>Listing incidents</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Incidenttype</th>
    <th>Occurence date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @incidents.each do |incident| %>
  <tr>
    <td><%= incident.name %></td>
    <td><%= incident.location %></td>
    <td><%= incident.incidenttype %></td>
    <td><%= incident.occurence_date %></td>
    <td><%= link_to 'Show', incident %></td>
    <td><%= link_to 'Edit', edit_incident_path(incident) %></td>
    <td><%= link_to 'Destroy', incident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Incident', new_incident_path %>
