<section class="main incident-explorer" role="">
<h1>Incident Explorer</h1>
<p></p>

<%= form_tag do %>
	<legend>Filter Incident List</legend>
	<fieldset class="type">
		<label for="incident_type">Type</label>
		<%= select_tag(:incident_type, options_from_collection_for_select(@incident_types, 'to_s', 'to_s'), {:include_blank => "Select one category"}) %>
	</fieldset>

	<fieldset class="location">
		<label for="location">Location</label>
		<%= select_tag(:location, option_groups_from_collection_for_select(@location_groups, :locations, :name, :id, :name), {:include_blank => "Select one category"}) %>
	</fieldset>
	<fieldset class="start-date">
		<label>Start Date</label>
			<input type="date" id="start_date" name="start_date" placeholder="dd.mm.yyyy" min="2009-10-03" max="2011-05-26">
	</fieldset>
	<fieldset class="end-date">
		<label>End Date</label>
			<input type="date" id="start_date" name="start_date" placeholder="dd.mm.yyyy" min="2009-10-03" max="2011-05-26">
	</fieldset>
	<fieldset class="has-detail-report">
		<label for="has_detail_report">Has detail report</label>
			<input type="checkbox" id="has_detail_report" />
	</fieldset>
	<input class="btn" type="submit" role="button" value="Go"/>
<% end %>
<h2 class="supporting-heading">Results:</h2>
<h3 class="distinct query-results-description" id="#results"><strong class="query-count"><%= @incidents.total_count %></strong> <% if params[:incident_type] %><strong class="type"><%= params[:incident_type] %></strong><% end %> incident reports <% if params[:location] %><strong class="location"><%= params[:location] %></strong><% end %> between <strong class="start-date"><% params[:start_date] %></strong> and <strong class="end-date"><% params[:end_date] %>.</strong></h1>

<dl class="page-link supporting">
	<dt class="">Link for these results</dt>
		<dd><input value="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>" title="url to share or bookmark these results" readonly></dd>
</dl>
<section class="incident-table">
	<ul class="header-row supporting">
		<li class="incident-occured-on">Occured On</li>
		<li class="incident-type">Type</li>
		<li class="incident-location">Location</li>
		<li class="incident-summary">Summary</li>
		<li class="incident-secondary">
			<div class="incident-location-details">Location Details</div>
			<div class="incident-number">Incident Number</div>
		</li>			
	</ul>
	<ul class="incident-list">
		<% @incidents.each do |incident| %>
	
		<li class="supporting">
			<article class="incident-item <% if incident.detailed_report.path %>has-detailed-report<% end %>">
	
				<section class="incident-primary">
					<span class="field-label">Occured On</span><time class="incident-occured-on"><%= incident.occured_on.strftime("%d %b %Y %H:%M") %></time>
					<span class="field-label">Type</span><section class="incident-type"><%= incident.incident_type %></section>
					<span class="field-label">Location</span><section class="incident-location"><%= incident.location.name %></section>
				</section>
				<section class="incident-body">
					<span class="field-label incident-summary-label">Incident Summary</span><section class="incident-summary discrete"><p><%= incident.summary %></p></section>
				</section>
				<section class="incident-secondary">
					<span class="field-label">Location Details</span><section class="incident-location-details"><p><%= incident.location_details %></p></section>
					<span class="field-label"><abbr title="Incident">In.</abbr> Number</span><a href="<%=  url_for incident %>" class="incident-number" title="Get more information about Incident <%= incident.incident_number %>"><%= incident.incident_number %> <span class="incident-link">see&nbsp;details<i> &rarr;</i></span></a>
				</section>
			</article>
		</li>
	
		<% end %>
		
	</ul>
</section>
<div class="pagination-details"><%=  page_entries_info @incidents %></div>
<%= paginate @incidents %>
</section>