<%
	title incidentexplorer_results

	description "Explore an index of 'incident reports' recorded by staff at Australia’s immigration detention facilities."
%>

<%= render 'layouts/sub-nav', :breadcrumbs => false %>

<section class="body-container incident-index" id="content" role="main">

	<header class="page-header">
		<h1 class="page-title">Incident Explorer</h1>

        <p>Incident Reports are records of events that occur in immigration detention, recorded by detention centre staff for the Australian Government. <%= link_to "About Incident Reports.", about_incidents_path, class: 'lede-sub-link', title: 'Read more information about Incident Reports and where this data came from.' %></p>
	</header>

	<%= render 'incident-filters' %>

	<%= render 'index-results' %>

	<%= render 'incident-river'  %>
</section>
