	
	<nav class="breadcrumbs supporting main">
		<p><!-- <a href="http://detentionlogs.com.au/data/">Data</a> &gt;  --><a href="http://detentionlogs.com.au/data/incidents/" title="Explore incident records from Australia's immigration detention network">Incidents</a> &gt; <a href="<%=  url_for @incident %>" title="Page for Incident <%= @incident.incident_number %>"><%= @incident.incident_number %></a></p>
	</nav>

	<article class="incident" role="">
	    <section class="incident-primary main">
	        <h1>Incident <%= @incident.incident_number %></h1>
	        
	        <% if @incident.detailed_report.path %><em class="detail-report-link"><a href="<%= @incident.detailed_report.url %>" title="Download the Incident Detail Report for this incident to find more information" class="docs-icon discrete distinct-download">See Incident Detail Report [PDF]</a></em>
          <% elsif !@incident.foi_requests.empty? %>
            <em class="detail-report-link"><%=link_to_right_to_know(@incident) %></em>
	        <% else %><em class="detail-report-link"><a href="<%= url_for @incident %>/adopt" title="help get more information about this incident" class="discrete distinct-download">Adopt this incident</a></em>
	        <% end %>
	        
	        
	        <a href="#about" title="about the information on this page" class="supporting help">What is this?</a>
			<dl class="incident-primary-meta">
				<dt class="incident-type">Type</dt>
					<dd class="incident-type"><%= @incident.incident_type %><!-- <a href="" class="supporting">see all incidents like this</a> --></dd>
				<dt class="incident-occured-on">Occured On</dt>
					<dd class="incident-occured-on"><time><%= @incident.occured_on.strftime("%d %b %Y %H:%M") %></time><!-- <a href="" class="supporting">see incidents on this day</a>--></dd>
				<dt class="incident-location">Location</dt>
					<dd class="incident-location"><%= @incident.location.name %>
					<!--<strong class="add-details">info</strong> -->
					<div class="additional-info discrete box note collapsible-content-collapsed">
						<h2>About <%= @incident.location.name %></h2>
						<%= raw(@incident.location.description) %>
						<p><strong><a href="link to location search" title="index of available incidents from this locations">See all available incident records from <%= @incident.location %></a></strong></p>
					</div>
					</dd>
			</dl>
	    	<dl class="incident-summary">
	    		<dt>Incident Summary</dt>
		 	   		<dd class="distinct"><%= @incident.summary %></dd>
	    	</dl>
	    	<p></p>
	    </section>
	    <dl class="discrete main incident-additional">
                <dt class="incident-informed-by">Informed By</dt>
	            	<dd class="incident-informed-by"><%= @incident.informed_by %></dd>
	            <dt class="incident-level"><abbr title="The level of incident is tied to the type, not decided by the detention facility staff who reported the incident.">Level</abbr></dt>
	                <dd class="incident-level critical"><%= @incident.level %></dd>
   	            <dt class="incident-number">Incident Number</dt>
	                <dd class="incident-number"><%= @incident.incident_number %></dd>
	            <dt class="incident-location-details">Location Details</dt>
	                <dd class="incident-location-details"><%= @incident.location_details %></dd>
	    </dl>

	     <section class="note box main" id="about">
			<h2 id="aboutthisinformation">About this information</h2>
			
			<h3 id="whatisanincident">What is an ‘incident’?</h3>
			
			<p>An “incident” in this context is an event in one of Australia’s immigration detention facilities which has been recorded by the facility’s staff. The private contractors that run the detention network, including companies <a href="http://detentionlogs.com.au/about/glossary/#serco">Serco</a>, <a href="http://detentionlogs.com.au/about/glossary/#IHMS">IHMS</a> and <a href="http://detentionlogs.com.au/about/glossary/#G4S">G4S</a>, are required to file incident reports to the <a href="http://detentionlogs.com.au/about/glossary/#DIAC">Australian Government Department of immigration and Citizenship (DIAC)</a>, where they are archived in a centralised database.</p>
			
			<p>DIAC are ultimately responsible for the welfare of people held in the detention network. They use these incident reports as one way to understand and track occurrences and conditions in their facilities.</p>
			
			<p>The types of incidents described in the reports collected by Detention Logs include births, deaths, illnesses, accidents/injuries, self-harms, complaints, escapes, media presence, protests and more. <a href="http://detentionlogs.com.au/data/incidents">You can browse the reports with our Incident Explorer</a>.</p>
			
			<p>The summary incident data and any attached Incident Detail Reports have been provided by the Department of Immigration and Citizenship, released under the <a href="http://www.oaic.gov.au/foi-portal/about_foi.html">Freedom of Information Act 1982 (Cth)</a>. The Freedom of Information (FOI) system allows any member of the public to lawfully access government information.</p>
			
			<h2 id="descriptionoffields">Description of fields</h2>
			
			<dl>
				<dt>Incident Number</dt>
					<dd>The unique string of characters used by DIAC to identify a single incident.</dd>
				
				<dt>Occurred On</dt>
					<dd>The date and time attributed to the incident.</dd>
				
				<dt>Type</dt>
					<dd>The category of incident.</dd>
				
				<dt>Level</dt>
					<dd>The degree of urgency attributed to the incident: Minor, Major or Critical. <em>This is not entered by the person reporting the incident, but is generated by the Type field</em>. For example, incidents with the types <em><a href="http://detentionlogs.com.au/data/incidents/50637" title="an exmaple of this connection between incident type 'Self Harm - Actual' and incident level 'Critical', Incident 1-2Q68TF">Self Harm - Actual</a></em> or <em><a href="http://detentionlogs.com.au/data/incidents/50269" title="an exmaple of this connection between incident type 'Media - Unauthorised presence' and incident level 'Critical',  Incident 1-3HN0DF. ">Media - Unauthorised presence</a></em> have a <em>Critical level</em>, incidents with the types <em><a href="http://detentionlogs.com.au/data/incidents/49445" title="an exmaple of this connection between incident type 'Observation Rm > 24 hrs' and incident level 'Major', Incident 1-4ELSKF. ">Use of Observation Rm > 24 hrs</a></em> or <em><a href="http://detentionlogs.com.au/data/incidents/50641" title="an exmaple of this connection between incident type 'Escape - Attempted' and incident level 'Major',  Incident 1-2PDPSN. ">Escape - Attempted</a></em> have a <em>Major level</em> and incidents with types <em><a href="http://detentionlogs.com.au/data/incidents/50140" title="an exmaple of this connection between incident type 'Birth of a child' and incident level 'Minor',  Incident 1-3OJRZ3. ">Birth of a child</a></em> or <em><a href="http://detentionlogs.com.au/data/incidents/50501" title="an exmaple of this connection between incident type 'Failure - IT Systems' and incident level 'Minor',  Incident 1-31136I. ">Failure - IT Systems</a></em> have a <em>Minor level</em>.</dd>
				
				<dt>Summary</dt>
					<dd>A summary of the incident.</dd>
				
				<dt>Location</dt>
					<dd>The facility to which the event relates.</dd>
				
				<dt>Location Detail</dt>
					<dd>The more specific location of this individual event i.e. the specific room and area within the facility where the incident was reported. Note that sometime the <em>Location Detail</em> is outside the <em>Location</em> specified (for example, <a href="http://detentionlogs.com.au/data/incidents/43302" title="page for Incident 1-7A4ULB">Incident 1-7A4ULB</a>: Location = Villawood IDC, Location Details = MRRC Correctional Centre [Metropolitan Remand and Reception Centre at Silverwater Correctional Complex in Western Sydney ).</dd>
			</dl>
			
			
			
			<h2 id="flaganissue">Flag an issue</h2>
			
			<p>If you have any issues, concerns or questions regarding this data please <a href="&#x6d;&#97;&#105;&#x6c;&#x74;&#x6f;&#x3a;&#100;&#101;&#x74;&#x65;&#x6e;&#x74;&#105;&#x6f;&#x6e;&#108;&#111;&#x67;&#x73;&#64;&#103;&#x6d;&#97;&#x69;&#x6c;&#x2e;&#x63;&#x6f;&#x6d;">&#99;&#x6f;&#110;&#x74;&#x61;&#99;&#x74; &#117;&#x73;</a>.</p>
	     </section>
	</article>
