<p id="notice"><%= notice %></p>

<p>
  <b>Incident number:</b>
  <%= @incident.incident_number %>
</p>

<p>
  <b>Incident type:</b>
  <%= @incident.incident_type %>
</p>

<p>
  <b>Level:</b>
  <%= @incident.level %>
</p>

<p>
  <b>Location:</b>
  <%= @incident.location %>
</p>

<p>
  <b>Location details:</b>
  <%= @incident.location_details %>
</p>

<p>
  <b>Summary:</b>
  <%= @incident.summary %>
</p>

<p>
  <b>Occured on:</b>
  <%= @incident.occured_on %>
</p>


<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
