	
	<nav class="breadcrumbs supporting main">
		<p><a href="http://detentionlogs.com.au/data/">Data</a> &gt; <a href="http://detentionlogs.com.au/data/incidents/">Incidents</a> &gt; <%= @incident.incident_number %></p>
	</nav>
	<article class="incident" role="">
	    <section class="incident-primary main">
	        <h1>Incident <%= @incident.incident_number %></h1>
	        
	        <% if @incident.detailed_report.path %><em class="detail-report-link"><a href="<%= @incident.detailed_report.url %>" title="Download the Incident Detail Report for this incident to find more information" class="docs-icon discrete distinct-download">See Incident Detail Report [PDF]</a></em>
	        <% else %><em class="detail-report-link"><a href="<%= url_for(@incident) %>/adopt" title="help get more information about this incident" class="discrete distinct-download">Adopt this incident</a></em>
	        <% end %>
	        
	        
	        <a href="#about" title="about the information on this page" class="supporting help">What is this?</a>
			<dl class="incident-primary-meta">
				<dt class="incident-type">Type</dt>
					<dd class="incident-type"><%= @incident.incident_type %><!-- <a href="" class="supporting">see all incidents like this</a> --></dd>
				<dt class="incident-occured-on">Occured On</dt>
					<dd class="incident-occured-on"><time><%= @incident.occured_on.strftime("%d %b %Y %H:%M") %></time><!-- <a href="" class="supporting">see incidents on this day</a>--></dd>
				<dt class="incident-location">Location</dt>
					<dd class="incident-location"><%= @incident.location.name %>
					<strong class="add-details">info</strong>
					<div class="additional-info discrete box note collapsible-content-collapsed">
						<h2>About <%= @incident.location.name %></h2>
						<%= raw(@incident.location.description) %>
						<p><strong><a href="link to location search" title="index of available incidents from this locations">See all available incident records from <%= @incident.location %></a></strong></p>
					</div>
					</dd>
			</dl>
	    	<dl class="incident-summary">
	    		<dt>Incident Summary</dt>
		 	   		<dd class="distinct"><%= @incident.summary %></dd>
	    	</dl>
	    	<p></p>
	    </section>
	    <dl class="discrete main incident-additional">
                <dt class="incident-informed-by">Informed By</dt>
	            	<dd class="incident-informed-by"><%= @incident.informed_by %></dd>
	            <dt class="incident-level"><abbr title="The level of incident is tied to the type, not decided by the detention facility staff who reported the incident.">Level</abbr></dt>
	                <dd class="incident-level critical"><%= @incident.level %></dd>
   	            <dt class="incident-number">Incident Number</dt>
	                <dd class="incident-number"><%= @incident.incident_number %></dd>
	            <dt class="incident-location-details">Location Details</dt>
	                <dd class="incident-location-details"><%= @incident.location_details %></dd>
	    </dl>

<!-- 	    If there are related documents or investigations  or editors notes -->
	    <section class="discrete editors-additional main" id="editors-additions">
	    	<h2 class="discrete">Detention Logs&rsquo; additions</h2>
	<!-- 	    	If there are notes -->
		    <h3 id="editors-notes">Editor&rsquo;s Notes</h3>
		    	<p><p>Kogi try-hard pork belly iphone, pour-over vegan bushwick skateboard wayfarers pug.  Disrupt master cleanse authentic, before they sold out wolf mlkshk food truck hella direct trade  fanny pack etsy carles +1.  Irony cardigan bespoke quinoa brunch tumblr.</p>
		    	<p>Four loko pop-up vice ennui stumptown, brunch before they sold out small batch vinyl.  Ethnic irony selvage organic hashtag.  Pickled polaroid ugh mumblecore wayfarers.  Ugh pickled thundercats chillwave.</p></p>
	<!-- 	    end if -->
	<!-- 	    If there are related documents -->
		    <h3 class="related-documents" id="attachments">Related Documents</h3>
		    <ul>
		    	<li class="related-documents"><a href=""><cite>Coroner's Report</cite></a></li>
		    </ul>
	<!-- 	    end if -->		    
	<!-- 	    If there are investigations -->
		    <h3 class="related-investigations" id="related-investigations">Related Investigations</h3>
		    <ul>
		    	<li class="related-investigations"><a href=""><cite>Removals Story</cite></a></li>
		    </ul>
	    </section>
    <!-- 	    end if -->
<!-- 	    end if -->
	     <section class="note box main" id="about">
			<h2 id="aboutthisinformation">About this information</h2>
			
			<h3 id="whatisanincident">What is an ‘incident’?</h3>
			
			<p>An “incident” in this context is an event in one of Australia’s immigration detention facilities which has been recorded by the facility’s staff. The private contractors that run the detention network, including companies <a href="http://detentionlogs.com.au/about/glossary/#serco">Serco</a>, <a href="http://detentionlogs.com.au/about/glossary/#IHMS">IHMS</a> and <a href="http://detentionlogs.com.au/about/glossary/#G4S">G4S</a>, are required to file incident reports to the <a href="http://detentionlogs.com.au/about/glossary/#DIAC">Australian Government Department of immigration and Citizenship (DIAC)</a>, where they are archived in a centralised database.</p>
			
			<p>DIAC are ultimately responsible for the welfare of people held in the detention network. They use these incident reports as one way to understand and track occurrences and conditions in their facilities.</p>
			
			<p>The types of incidents described in the reports collected by Detention Logs include births, deaths, illnesses, accidents/injuries, self-harms, complaints, escapes, media presence, protests and more. <a href="http://detentionlogs.com.au/data/incidents">You can browse the reports with our Incident Explorer</a>.</p>
			
			<p>The summary incident data and any attached Incident Detail Reports have been provided by the Department of Immigration and Citizenship, released under the <a href="http://www.oaic.gov.au/foi-portal/about_foi.html">Freedom of Information Act 1982 (Cth)</a>. The Freedom of Information (FOI) system allows any member of the public to lawfully access government information.</p>
			
			<h2 id="descriptionoffields">Description of fields</h2>
			<dl>
			<dt>Incident Number</dt>
			<dd>The unique string of characters used by DIAC to identify a single incident.</dd>
			
			<dt>Occurred On</dt>
			<dd>The date and time that the incident described in the report was to recorded to have occurred at.</dd>
			</dl>
			
			
			<h2 id="flaganissue">Flag an issue</h2>
			
			<p>If you have any issues, concerns or questions regarding this data please <a href="&#x6d;&#97;&#105;&#x6c;&#x74;&#x6f;&#x3a;&#100;&#101;&#x74;&#x65;&#x6e;&#x74;&#105;&#x6f;&#x6e;&#108;&#111;&#x67;&#x73;&#64;&#103;&#x6d;&#97;&#x69;&#x6c;&#x2e;&#x63;&#x6f;&#x6d;">&#99;&#x6f;&#110;&#x74;&#x61;&#99;&#x74; &#117;&#x73;</a>.</p>
	     </section>
			
		<nav class="sideways-nav supporting main">
		    <ul>
			    <li class="next"><a href="" title="to the next incident report">Next incident report</a></li>
	    	    <li class="previous"><a href="" title="to the previous incident report">Pevious incident report</a></li>
		    </ul>
	    </nav>
	</article>
<!-- edit --><div style="text-align:center;text-transform:uppercase"><%= link_to 'Edit', edit_incident_path(@incident) %></div>
