<%
  title "Incident #{@incident.incident_number}, #{@incident.incident_type} at #{@incident.location.name}, #{@incident.occured_on.strftime('%d %b %Y')}"

  description "#{@incident.summary}"
%>

<%= render 'layouts/sub-nav', :breadcrumbs => true %>

<div class="body-container">
  <article class="incident incident-show-body" role="main">
    <section class="incident-show-body-primary">
      <h1 class="page-title p-name">Incident <%= @incident.incident_number %></h1>

      <%= render 'incidents/detail-report-link' %>

      <%= link_to "What is an incident report?", "/data/incidents/about", :class => "supporting help" %>

      <dl class="incident-data-list incident-primary-meta">
        <dt class="incident-field-label incident-type">Type</dt>
          <dd class="incident-field-value incident-type"><%= @incident.incident_type %></dd>

        <dt class="incident-field-label incident-occurred-on">Occurred On</dt>
          <dd class="incident-field-value incident-occurred-on"><time datetime="<%= @incident.occured_on %>"><%= @incident.occured_on.strftime("%d %b %Y %H:%M") %></time></dd>

        <dt class="incident-field-label incident-location">Location</dt>
          <dd class="incident-field-value incident-location"><%= @incident.location.name %></dd>
      </dl>

      <dl class="incident-summary">
        <dt class="incident-field-label incident-summary">Incident Summary</dt>
          <dd class="incident-field-value incident-summary"><%= @incident.summary %></dd>
      </dl>
    </section>

    <dl class="incident-secondary">
      <dt class="incident-field-label incident-informed-by">Informed By</dt>
        <dd class="incident-field-value incident-informed-by"><%= @incident.informed_by %></dd>

      <dt class="incident-field-label incident-level">Level</dt>
        <dd class="incident-field-value incident-level"><%= @incident.level %></dd>

      <dt class="incident-field-label incident-number">Incident Number</dt>
        <dd class="incident-field-value incident-number"><%= @incident.incident_number %></dd>

      <dt class="incident-field-label incident-location-details">Location Details</dt>
        <dd class="incident-field-value incident-location-details"><%= @incident.location_details %></dd>
    </dl>

    <p class="msg msg-information">If you have any issues, concerns, questions or suggestions regarding this data please <a href="/about/#contact" title="Contact Detention Logs">contact Detention&nbsp;Logs</a>.</p>
  </article>
</div>
