	<article class="incident" role="">
	    <section class="incident-primary main">
	        <h1>Incident <%= @incident.incident_number %></h1>
			<dl class="related-signpost discrete">
				<dt class="docs-icon">Related Documents</dt>
					<dd><a href="#attachments" title="see documents related to this incident">1</a></dd>
				<dt class="investigations-icon">Related Investigations</dt>
					<dd><a href="#related-investigations" title="see stories related to this incident">1</a></dd>
			</dl>
	        
	        <a href="#about" title="about the information on this page" class="supporting">What is this?</a>
			<dl class="incident-primary-meta">
				<dt class="incident-type">Type</dt>
					<dd class="incident-type"><a href=""><%= @incident.incident_type %></a></dd>
				<dt class="incident-occured-on">Occured On</dt>
					<dd class="incident-occured-on"><a href=""><time><%= @incident.occured_on.strftime("%d %b %Y %H:%M") %></time></a></dd>
				<dt class="incident-location">Location</dt>
					<dd class="incident-location"><a href=""><%= @incident.location %></a></dd>

			</dl>
	    	<dl class="incident-summary">
	    		<dt>Incident Summary</dt>
		 	   		<dd class="distinct"><%= @incident.summary %></dd>
	    	</dl>
	    	<p></p>
	    </section>
	    <dl class="discrete main incident-additional">
                <dt class="incident-informed-by">Informed By</dt>
	            	<dd class="incident-informed-by">Service Provider Staff</dd>
	            <dt class="incident-level"><abbr title="The level of incident is tied to the type, not decided by the detention facility staff who reported the incident.">Level</abbr></dt>
	                <dd class="incident-level critical">Critical</dd>
   	            <dt class="incident-number">Incident Number</dt>
	                <dd class="incident-number">1-7AFG2G</dd>
	            <dt class="incident-location-details">Location Details</dt>
	                <dd class="incident-location-details"><%= @incident.location_details %></dd>
	    </dl>
<!-- 	    If there are related documents or investigations -->
	    <!--
	    <section class="discrete related main" id="related">
		    <h2 class="related-documents" id="attachments">Attachements</h2>
		    <ul>
		    	<li class="related-documents"><a href=""><cite>Incident Detail Report</cite></a></li>
		    </ul>
		    
		    <h2 class="related-investigations" id="related-investigations">Related Investigations</h2>
		    <ul>
		    	<li class="related-investigations"><a href=""><cite>Removals Story</cite></a></li>
		    </ul>
	    </section>
		-->    
<!-- 	    end if -->
	     <section class="note box main" id="about">
			<h2>About this information</h2>
			<p></p>
			<h3>Disclaimer</h3>
			<p>The data published here has been provided by THIS IS HOLDING TEXT the Department of immigration and citizenship under the freedom of information act 1982.  Detention logs has only altered data that contains defamatory imputations or may be in contempt of legal proceedings.</p>
			<p>If you see anything that is defamatory or in contempt of court please contact us.</p>
		 </section>
	</article>
