<h1>Listing attachments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>File</th>
    <th>Publication date</th>
    <th>Update date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attachments.each do |attachment| %>
  <tr>
    <td><%= attachment.name %></td>
    <td><%= attachment.description %></td>
    <td><%= attachment.file %></td>
    <td><%= attachment.publication_date %></td>
    <td><%= attachment.update_date %></td>
    <td><%= link_to 'Show', attachment %></td>
    <td><%= link_to 'Edit', edit_attachment_path(attachment) %></td>
    <td><%= link_to 'Destroy', attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attachment', new_attachment_path %>
