<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @attachment.name %>
</p>

<p>
  <b>Description:</b>
  <%= @attachment.description %>
</p>

<p>
  <b>File:</b>
  <%= @attachment.file %>
</p>

<p>
  <b>Publication date:</b>
  <%= @attachment.publication_date %>
</p>

<p>
  <b>Update date:</b>
  <%= @attachment.update_date %>
</p>


<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
