<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= yield(:title) %> | Detention Logs</title>

  <meta name="author" content="Detention Logs">

  <meta name="description" content="<%= yield(:description)%>">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag "style.min.css", :media => "all" %>

  <%= csrf_meta_tag %>

</head>

<body class="<%= "#{params[:id]} #{controller.controller_name} #{controller.controller_name}-#{controller.action_name}" %>">
  <% if notice %>
    <p class="msg msg-notice"><%= notice %></p>
  <% end %>

  <% if admin_signed_in? %>
    <nav class="admin-bar" id="admin-bar">
      <p>Signed in as <%= current_admin.email %></p>

      <%= link_to "logout",  destroy_admin_session_path, method: :delete, class: 'admin-logout-link' %>
    </nav>
  <% end %>

  <%= render 'layouts/site-header' %>
