<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>
	    | Detention Logs
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    "style", :media => "all" %>
    <%= csrf_meta_tag %>

</head>
<body>
	<header class="site-header">
    	<h1 class="logo"><a href="http://detentionlogs.com.au" rel="home">Detention&nbsp;Logs<span> beta</span></a> 
    	<p class="subheading discrete">Inside Australia's immigration detention</p>
    	</h1>
    	<nav class="main-nav">
    		<a href="#navigation" class="menu-btn">Menu</a>
			<ul class="primary-nav">
				<li><a href="http://detentionlogs.com.au/data/incidents">Data</a></li>
				<li><a href="http://detentionlogs.com.au/investigations">Investigations</a></li>
				<li><a href="http://detentionlogs.com.au/about">About</a></li>
			</ul>
		</nav>
    </header>

    <%= yield %>

	<footer role="contentinfo" class="main site-footer">
		<nav class="footer-nav" role="navigation" id="navigation">
			<ul class="primary-nav">
				<li><a href="http://detentionlogs.com.au/incidents">Data</a></li>
				<li><a href="http://detentionlogs.com.au/investigations">Investigations</a></li>
				<li><%= link_to "About", page_path("about") %></li>
			</ul>
			<ul class="supporting">
				<li><a href="http://detentionlogs.com.au/about/resources">Resources</a></li>
				<li><a href="http://detentionlogs.com.au/about/glossary">Glossary</a></li>
				<li><a href="http://detentionlogs.com.au/about/principles">Our Principles</a></li>				
			</ul>
		</nav>
		<ul class="footer-contact contact  supporting">
			<li><a class="twitter" href="https://twitter.com/DetentionLogs/" title="Detention Logs on Twitter" rel="me">@detentionlogs</a></li>
			<li><a class="github" href="https://github.com/DetentionLogs/" title="Detention Logs on Github" rel="me">GitHub</a></li>
		</ul>
		<ul class="footer-contact contact  supporting">
			<li><a class="email" href="">Contact</a></li>
<!-- 			<li><a class="phone google-voice" href="">+08 173 453 235</a></li> -->
		</ul>
		<article id="copyright" class="supporting">
			<h2 class="discrete">Using this content / Copyright</h2>
			<p>Umami synth dreamcatcher skateboard, pickled pop-up occupy pug.  Williamsburg shoreditch pop-up, street art keytar before they sold out authentic sriracha semiotics truffaut hella plaid wes anderson church-key carles.  Gastropub aesthetic +1, blue bottle ethnic hoodie cliche.</p>
			<p>Semiotics actually bespoke, high life street art +1 carles fanny pack neutra williamsburg craft beer whatever 90's.  Forage truffaut wes anderson, narwhal photo booth food truck actually swag next level.</p>
		</article>
	</footer>

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write("<script src='/assets/jquery-1.9.1.min.js'>\x3C/script>")</script>
	    <%= javascript_include_tag "fixers", "site" %>

	</body>
</html>
